# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/
.mypy_cache/
.cache/

# Spark
checkpoints/
spark-warehouse/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker volumes (local)
data/
logs/

# Secrets
.env
